html {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
}
header {
  text-align: center;
  margin-bottom: 48px;
}
header h1 {
  font-size: 48px;
  margin: 48px;
}
header a {
  color: #000;
}
header h2 {
  font-size: 36px;
  margin-bottom: 6px;
}
header p {
  margin: 0;
}
article h1 {
  font-size: 32px;
}
article h2 {
  font-size: 24px;
}
pre {
  background-color: #DDD;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  width: 90%;
}
.post-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
