html {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
}
header {
  margin: 48px;
  text-align: center;
}
header h1 {
  font-size: 48px;
}
header a {
  color: #000;
}
main {
  text-align: center;
}
main h1 {
  margin: 48px;
}
main ul {
  display: inline-block;
  margin: 0;
  text-align: left;
}
article h1 {
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}
article time {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}
article h2 {
  font-size: 24px;
}
article img {
  max-width: 100%;
}
pre {
  background-color: #111;
  border-radius: 4px;
  color: #EEE;
  font-size: 16px;
  overflow-x: auto;
  padding: 8px;
}
code {
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
footer {
  text-align: center;
}
footer h1 {
  margin: 48px;
}
footer a {
  display: inline-block;
  margin: 40px 12px;
}
footer img {
  display: block;
}
